/* Reseteo*/
*{
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    font-family:roboto Condensed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../fondos/telaraña_escritorio.jpg);
}
/*Banner*/
.banner{
    font-size: large;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;

    .saludo{background-color: black;
        color: white;
        text-transform: uppercase;
        font-family:roboto Condensed;
        align-self: center;
        span{
            transition: text-shadow 0.6s;
            &:hover{
                text-shadow: 0px -3px 6px white,0px 4px 6px white,
                3px 0px 6px white,-4px 0px 6px white;
            }
        }
    }
}


.luna{
    height: 100px;
    width: 100px;
    transform: rotateY(180deg);
    align-self: flex-end;
    background-color: black;
    justify-content: end;
}
/*Barra de navegacion*/
.menu{
    background-color: rgb(17, 16, 16);
    .navegacion{
        .lista{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 0px;
            margin: 0px;
            list-style: none;
            li{
                a{
                    list-style-type: none;
                    margin-right: 0px;
                    color: white;
                    text-decoration: none;
                    font-family: roboto Condensed;
                    transition: text-shadow 1s;
                    &:hover{
                        text-shadow: 0px -3px 6px white,0px 4px 6px white;
                    }
                }
            }
        }
    }
}

/*Footer*/
footer{
    background-color: rgb(26, 25, 25);
    display: flex;
    margin-top: 4px;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0px;
    height: auto;
    padding: auto;
}

/*div redes*/
.redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    width: 350px;
    align-items: flex-start;
    justify-content: space-evenly;
    img{
        height: 40px;
        width: 40px;
    }
}

/*div tarjetas*/
.tarjetas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 0;
    margin: 0px;
    width: 450px;
    img{
        margin: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
        width: 50px;
        border: 15px;
    }
}

/*div preguntas*/
.links_id{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-end;
    width: 550px;
    align-items: center;
    ul{
        color: white;
        margin-top: 25px;
        a{
            font-family: roboto Condensed;
            text-decoration: none;
            color: white;
            transition: text-shadow 0.6s;
            &:hover{
                text-shadow: 0px -3px 6px white,0px 4px 6px white,
    3px 0px     6px white,-4px 0px 6px white;
            }
        }
    }
}

/*Pie de pagina de cada prenda*/

.nombre_item{
    justify-self: center;
    color: red;
    grid-area: nom_item;
    font-size: 20px;
}
.pie_imagen{
    width: 300px;
    height: 60px;
    display: grid;
    width: 320px;
    grid-template-areas: "nom_item nom_item nom_item nom_item"
                        "precio precio none carrito";
}
.precio{
    color: white;
    grid-area: precio;
    font-size: 18px;
}
.contenedora{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .imagen{
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
}
.carrito{
    grid-area: carrito;
    color: white;
    justify-self: end;
}
.agregar{
    grid-area: agregar;
    color: white;
    justify-self: end;
}
span{
    font-family: roboto Condensed;
}