@import "fuentes";
@import "generalidades";
@import "carrusel";
@import "secciones";
@import "nosotros";

/*Medias Querie*/
@media(min-width:500px){
    .luna{
        height: 200px;
        width: 200px;
        align-self: flex-end;
        justify-content: end;
    }
    .h1, h1 {
        font-size:50px;
    }
    
}

@media(min-width:600px){
    .luna{
        height: 200px;
        width: 254px;
    }
    h2{
        font-size: 30px;
    }

}
@media(min-width:864px){
    .carousel{
        height: 500px;
        width: 500px;
    }
    .img-carrusel{
        height: 500px;
        width: 500px;
    }
    .menu{
        .navegacion{
            .lista{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding: 15px;
                margin: 0px;
                list-style: none;
                li{
                    a{
                        list-style-type: none;
                        margin-right: 75px;
                        color: white;
                        text-decoration: none;
                        font-family: roboto Condensed;
                        transition: text-shadow 1s;
                    }
                }
            }
        }
    }
    
    svg{
        color: white;
        height: 22px;
        width: 22px;
    }
    .precio{
        font-size: 22px;
    }
    .nombre_item{
        font-size: 25px;
    }
}