/* Fuente para banner*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Reseteo*/
*{
    margin: 0;
    padding: 0;
}
/* Mobile First*/
body{
    text-align: center;
    font-family:roboto Condensed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.banner{
    font-size: large;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.banner .saludo{
    background-color: black;
    color: white;
}
.banner .saludo span{
    transition: text-shadow 0.6s;
}
.banner .saludo span:hover{
    text-shadow: 0px -3px 6px white,0px 4px 6px white,
    3px 0px 6px white,-4px 0px 6px white;
}
.luna{
    height: 100px;
    width: 100px;
    transform: rotateY(180deg);
    align-self: flex-end;
    background-color: black;
    justify-content: end;
}
.menu{
    background-color: rgb(17, 16, 16);
}
.menu .navegacion .lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navegacion .lista li a{
    list-style-type: none;
    margin-right: 0px;
    color: white;
    text-decoration: none;
    font-family: roboto Condensed;
    transition: text-shadow 1s;
}

.navegacion .lista li a:hover{
    text-shadow: 0px -3px 6px white,0px 4px 6px white;
}
/*SECTION*/
section{
    background-image: url(../fondos/telaraña_escritorio.jpg);
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
h2{
    color: red;
    font-family: roboto Condensed;
    margin: 15px;
}
/* FOOTER*/
footer{
    background-color: rgb(26, 25, 25);
    display: flex;
    margin-top: 4px;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0px;
    height: auto;
    padding: auto;
}
/*div redes*/
.redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    width: 350px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.redes img{
    height: 40px;
    width: 40px;
}
/*div tarjetas*/
.tarjetas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 0;
    margin: 0px;
    width: 450px;
}


.tarjetas img{
    margin: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
    border: 15px;
}

/*div preguntas*/

.links_id ul a{
    font-family: roboto Condensed;
    text-decoration: none;
    color: white;
    transition: text-shadow 0.6s;
}
.links_id ul a:hover{
    text-shadow: 0px -3px 6px white,0px 4px 6px white,
    3px 0px 6px white,-4px 0px 6px white;
}
.links_id ul{
    color: white;
    margin-top: 25px;
}
.links_id{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-end;
    width: 550px;
    align-items: center;
}


/* Nosotros */
.preguntas_nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: auto;
    height: auto;
}

.preguntas{
    color: red;
    font-family: roboto Condensed;
    text-transform: uppercase;
}
.respuestas{
    font-family: roboto Condensed;
    color: black;
    font-size: 20px;
    -webkit-text-stroke:0.8px white;
    
}

.nombre_item{
    justify-self: center;
    color:white;
    grid-area: nom_item;
}
.pie_imagen{
    width: 300px;
    height: 60px;
}
.precio{
    color: white;
    grid-area: precio;
}
.contenedora{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.imagen{
    margin: 5px;
}
.contenedora .imagen{
    display: flex;
    flex-direction: column;
}
.pie_imagen{
    display: grid;
    width: 320px;
    grid-template-areas: "nom_item nom_item nom_item nom_item"
                        "precio precio agregar carrito";
}

.carrito{
    grid-area: carrito;
    color: white;
    justify-self: end;
}
.agregar{
    grid-area: agregar;
    color: white;
    justify-self: end;
}
span{
    font-family: roboto Condensed;
}
.nombre_item{
    color: red;
}


/* Vista generica de productos */
section img{
    height: 320px;
    width: 320px;
}